@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border: 1px solid grey;
}
a{
    color: inherit;
    transition-duration: 0.35s;
}
a:hover{
  color: gray;
  transition-duration: 0.35s;
}
.content{
  margin: 0 10%;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fffeee;
}
header img {
  width: 12rem;
  height: auto;
  padding-left: 10%;
}


/* 
#classic_menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.classic_menu {
  width: 30%;
  padding: 0 3px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.classic_menu:hover {
  background-color: #000222;
  color: white;
}

#sous-menu1, #sous-menu2{
  list-style-type: none;
  display: none;
}
#sous-menu1 li, #sous-menu2 li{
  padding: 3px;
  text-decoration: none;
}
#sous-menu1 li:hover, #sous-menu2 li:hover{
    color: #000222;
    background-color: white;
    display: inline;
}
#rubrique1:hover  #sous-menu1{
  display: block;
}
#rubrique2:hover  #sous-menu2{
  display: block;
}
 */
#hamb_menu {
  position: absolute;
  top: 2%;
  right: 2%;
  display: none;
}
#hamb_menu .barre {
  background-color: #000222;
  width: 60px;
  height: 10px;
  margin: 5px 0;
  border-radius: 25px;
}
.navbar {
  overflow: hidden;
  display: flex;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 24px;  
  border: none;
  color: #000222;
  padding: 33px 16px;
  background-color: inherit;
  margin: 0 5rem;
}
#dropbtn2{
  margin-right: 10rem;
}

.dropdown:hover{
  background-color: #000222;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #000222;
  color : white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffeee;
  color: #000222;
  width: 100%;
  left: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.row{
  display: flex;
  justify-content: center;
  text-align: center;
}
.column {
  float: right;
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column a {
  float: none;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #000222;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  #hamb_menu {
    display: block;
  }

  .dropdown {
    display: none;
  }

  .cross1transform {
    transform: rotate(-45deg);
    position: relative;
    top: 14px;
    background-color: #2c5f8f;
  }

  .cross2transform {
    transform: rotate(45deg);
    position: relative;
    bottom: 2px;
    background-color: #c53c3c;
  }

  .barre {
    transition: 0.5s;
  }
}
/*# sourceMappingURL=header.css.map *//*# sourceMappingURL=header.css.map */

