.sidebar {
    width: 4em;
    height: 200px;
    position: fixed;
    right: 20px;
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.problemea {
    height: 33%;
    background-color: #000222;
    color: white;
    text-align: center;
    padding-top: 35%;
    border-radius: 10px;
}

.problemeb {
    height: 33%;
    background-color: #000222;
    color: white;
    text-align: center;
    padding-top: 0%;
    border-radius: 10px;
}
@media screen and (max-width:800px){
    .sidebar {
        width: auto;
        height: 100px;
        position: relative;
        display: flex;
        right: 0;
        top: 0;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;

    }
    .insidebar{
        width:33%;
        padding: 1.5rem 0;
        vertical-align: center;
        border-radius: 0;
    }
    .insidebar:nth-child(1){
        border-radius: 60% 0 0 0;
    }
    .insidebar:nth-child(3){
        border-radius: 0 60% 0 0;
    }
}